aiodns==3.2.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
attrs==24.2.0
Bottleneck==1.3.7
ccxt==4.3.85
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
cryptography==43.0.1
frozenlist==1.4.1
idna==3.7
multidict==6.0.5
numexpr==2.8.7
numpy==1.26.4
pandas==2.2.2
pip==24.2
pycares==4.4.0
pycparser==2.22
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
setuptools==72.1.0
six==1.16.0
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.2.2
wheel==0.43.0
yarl==1.9.4
lxml==5.3.0
pandas-datareader==0.10.0
scipy==1.14.0
